@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* body colors */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* color styles */
  --color1-rgb: 39, 76, 119;
  --color2-rgb: 141, 169, 196;
  --color3-rgb: 209, 223, 232;
  --color4-rgb: 249, 248, 242;

  /* font sizes */
  --fontSize_header: 3.5rem;
  --fontSize_subHeader: 2rem;
  --fontSize_body: 9rem;
  --fontSize_subBody: 1.6rem;
  --fontSize_hero: 5rem;

  /* font weights */
  --fontWeight_semiBold: 600;
  --fontWeight_regular: 400;
  --fontWeight_bold: 700;
  --fontWeight_productTitle: 500;
  --fontWeight_productPrice: 300;

  /* body sizing + spacing */
  /* 
  
    left-right padding: gutter 15, width: 75, total size: 1440px ; 1440 - 1065 = 375 -> 187.5px on each side
  
  */
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--color4-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bodyText {
  color: rgb(var(--color1-rgb))
}

.logo{
  display: inline-block;
}